
<footer class="bg-dark text-white py-4">
    <div class="container footer">
        <div class="row">
            <!-- LOGO -->
            <a href="#" class="col-4 h-25  text-reset text-uppercase-d-flex align-items-center text-center">
                <p>Oceandex</p>
            </a>
            <!-- MENU -->
            <ul class="col-4 list-unstyled">
                <li class="font-weigh-bold">Contáctanos</li>
                <li class="text-reset"><a class="text-reset" href="https://github.com/UsielOM">Usiel Orihuela</a></li>
                <li class="text-reset"><a class="text-reset" href="https://github.com/3rickDJ">Erick de Jesús</a></li>
                <li class="text-reset"><a class="text-reset" href="https://github.com/Fernando-Del-Prado">Fernando del prado</a></li>
                <li class="text-reset"><a class="text-reset" href="https://github.com/JorgeRuano">Jorge Ruano</a></li>
                <li class="text-reset"><a class="text-reset" href="https://github.com/CuellarCarlos28">Carlos Cuellar</a></li>

            </ul>
            <!-- MENU -->
            <ul class="col-4 list-unstyled">
                <li class="font-weigh-bold">Nuestra Meta:</li>
                <p class="text-reset">Ayudar a las especies marinas en peligro de extinción</p>
            </ul>
        </div>
    </div>
</footer>